*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

@font-face {
    font-family: 'MaPolice'; /* Remplacez 'MaPolice' par le nom que vous souhaitez donner à votre police */
    src: url('./fonts/Space_Galaxy.ttf') format('truetype'); /* Remplacez le chemin par le chemin réel de votre police TTF */
}


.nav{
    position: absolute;
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
}

.logo{
    padding-left: 2vw;
}

h1{
    padding-left: 2vw;
    color: white;
}

body{
    display: block;
    font-family: 'MaPolice', sans-serif;
}

.barres{
    display: flex;
    position: absolute;
    justify-content: space-between;
    margin-top: 20vh;
    width: 100%;
}

.barres img{
width: 40px;
}

.barre1 img{
    padding-right: 10px;
    }

.barre2 img{
    padding-left: 10px;
    }

.progress-container, .progress-container2{
    height: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.barre2{
    justify-content: flex-end;
    margin-right: 4vw;
}

.barre1{
    justify-content: flex-start;
    margin-left: 4vw;
}

.barre1, .barre2{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
  
.progress-bar, .progress-bar2 {
    height: 100%;
    transition: width 1s linear; /* Transition plus lente */
}

.progress-bar{
    width: 100%; /* Commencez avec la barre remplie à 100% */
    background-color: #4caf50;
}

.progress-bar2{
    width: 0%; /* Commencez avec la barre remplie à 0% */
    background-color: #8b0000 ;
}

.webgl
{
    position: static;
    top: 0;
    left: 0;
    outline: none;
}

#popup{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #0D2622;
    width: 22%;
    border-radius: 10px;
    margin-bottom: 5%;

}


#question{
    display:flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin:5%;
}

#reponse{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    margin-left:7%;
    margin-right:7%;
    
    margin-bottom: 5%;
}

.rep{
    display:flex;
    background: #0D2622;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin:auto;
    padding-left:2%;
    padding-right:2%;
    border-radius: 10px;
}

.rep:hover{
    cursor:pointer;
}

